<footer class="site-footer">
    <div class="site-footer-legal">© 2017 <a href="javascript:void(0)">MITEK - vCloudCOM ™</a></div>
    <div class="site-footer-right">
        Created by <a href="javascript:void(0)">KQT</a>
    </div>
</footer>
<!--<script src="public/v1/js/form-advanced.js"></script>-->

<script>
    
//    $(document).ready(function () {
//        'use strict';
//        var Site = window.Site;
////        setTimeout(function(){
//            Site.run();
////        }, 1000);
//
//    });
</script>