<div class="site-menubar">
    <ul class="site-menu">
        <li class="site-menu-item">
            <a href="#/module/dashboard">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/module/customers">
                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                <span class="site-menu-title">Khách hàng</span>
                <div class="site-menu-badge">
                    <span class="badge badge-success">2</span>
                </div>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/module/monitor">
                <i class="site-menu-icon wb-desktop" aria-hidden="true"></i>
                <span class="site-menu-title">Màn hình giám sát</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/module/callhistory">
                <i class="site-menu-icon wb-mobile" aria-hidden="true"></i>
                <span class="site-menu-title">Lịch sử cuộc gọi</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/module/callrecording">
                <i class="site-menu-icon wb-volume-low" aria-hidden="true"></i>
                <span class="site-menu-title">Ghi âm cuộc gọi</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/module/notes">
                <i class="site-menu-icon wb-time" aria-hidden="true"></i>
                <span class="site-menu-title">Lịch sử tiếp nhận</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/reports">
                <i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>
                <span class="site-menu-title">Báo cáo - thống kê</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#/users">
                <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
                <span class="site-menu-title">Quản lý người dùng</span>
            </a>
        </li>
    </ul>
</div>
<div class="site-gridmenu">
    <div>
        <div>
            <ul>
                <li>
                    <a href="#/module/dashboard">
                        <i class="icon wb-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#/calendar">
                        <i class="icon wb-calendar"></i>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="#/module/customers">
                        <i class="icon wb-user"></i>
                        <span>Contacts</span>
                    </a>
                </li>
                <li>
                    <a href="#/documents">
                        <i class="icon wb-order"></i>
                        <span>Documents</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>