<div class="page">
    <div class="page-header">
        <h1 class="page-title">Thông tin khách hàng</h1>
        <div class="page-header-actions">
            <button type="button" ng-click="vm.reloadPage()" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
                <i class="icon wb-refresh" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
                <i class="icon wb-settings" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <form name="frmCustomerInfo" method="post" ng-submit="frmCustomerInfo.$valid && vm.updateOrAdd($event)" novalidate>
                    <div class="row row-lg">
                        <div class="col-sm-6 col-md-4 mi-form {{frmCustomerInfo.firstName.$touched && frmCustomerInfo.firstName.$invalid ? 'has-error' : ''}}">
                            <h5>Tên</h5>
                            <input type="text" required="" class="form-control input-sm" data-ng-model="vm.customer.firstName" placeholder="" name="firstName" />
                        </div>

                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Họ</h5>
                            <input type="text" class="form-control input-sm" data-ng-model="vm.customer.lastName" placeholder="" name="lastName" />
                        </div>
                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Mã khách hàng</h5>
                            <input type="text" class="form-control input-sm" ng-model="vm.customer.customerCode" placeholder="" name="customerCode" />
                        </div>

                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Di động</h5>
                            <input type="text" class="form-control input-sm" ng-model="vm.customer.mobile" placeholder="" name="mobile" />
                        </div>
                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Điện thoại bàn</h5>
                            <input type="text" class="form-control input-sm" ng-model="vm.customer.phone" placeholder="" name="phone" />
                        </div>
                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Email</h5>
                            <input type="text" class="form-control input-sm" ng-model="vm.customer.email" placeholder="" name="email" />
                        </div>  
                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Địa chỉ</h5>
                            <input type="text" class="form-control input-sm" ng-model="vm.customer.address" placeholder="" name="address" />
                        </div>
                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Ghi chú khách hàng</h5>
                            <input type="text" class="form-control input-sm" ng-model="vm.customer.note" placeholder="" name="note" />
                        </div>
                        <div class="col-sm-6 col-md-4 mi-form">
                            <h5>Tags</h5>
                            <select ui-select2 ng-model="vm.customer.tags_list" data-placeholder="" multiple class="form-control">
                                <option selected="" ng-repeat="tag in vm.tags" value="{{tag.id}}">{{tag.tag_name}}</option>
                            </select>
                            
                        </div>
                        
                        <div class="col-sm-6 col-md-12 mi-form">
                            <a href="#/module/customers" class="btn btn-default btn-sm pull-left">Quay lại</a>  
                            <button type="submit" class="btn btn-primary btn-sm pull-right" ng-disabled="frmCustomerInfo.$invalid || !frmCustomerInfo.$dirty" >{{vm.customer.id ? 'Cập nhật':'Thêm mới'}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <!-- Panel Summary Mode -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thông tin tiếp nhận</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" name="frmCustomerNote" autocomplete="off" ng-submit="frmCustomerNote.$valid && vm.addNote($event)" novalidate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tags</label>
                                <div class="col-sm-9">
                                    <select ui-select2 ng-model="vm.note.tags" ng-init="vm.note.tags={data: [{id:26,text:'CBU1'},{id:27,text:'CBU2'}]};" data-placeholder="" multiple class="form-control" ng-required='true'>
                                        <option value=""></option>
                                        <option ng-selected='true' ng-repeat="tag in vm.tags" value="{{tag.id}}">{{tag.tag_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nội dung</label>
                                <div class="col-sm-9">
                                    <textarea ng-model="vm.note.content" required="" class="form-control" name="summary_content" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" ng-disabled="frmCustomerNote.$invalid || !frmCustomerNote.$dirty"  class="btn btn-primary" id="validateButton3">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Panel Summary Mode -->
            </div>

            <div class="col-md-7">
                <!-- Panel Standard Mode -->



                <!-- Example Iconified Tabs -->

                <div class="nav-tabs-horizontal nav-tabs-inverse nav-tabs-animate">
                    <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a data-toggle="tab" href="#tabNoteHistory" aria-controls="tabNoteHistory"
                               role="tab">
                                <i class="icon wb-flag" aria-hidden="true"></i> Lịch sử tiếp nhận
                            </a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#tabCallHistory" aria-controls="tabCallHistory"
                               role="tab">
                                <i class="icon wb-list" aria-hidden="true"></i> Lịch sử cuộc gọi
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content padding-top-15" >
                        <div class="tab-pane height-300 active animation-slide-top" id="tabNoteHistory" role="tabpanel" data-plugin="scrollable" data-direction="vertical">
                            <div data-role="container">
                            <div data-role="content">
                            <ul class="list-group list-group-full">
                                <li class="list-group-item" ng-repeat="note in vm.notes">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="avatar {{note.isOnline?'avatar-online':''}}" href="javascript:void(0)">
                                                <img class="img-responsive" src="public/uploads/avatar/{{note.avatar || 'blank-avatar.png'}}" alt="..."><i></i></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{note.userName}} <small class="pull-right">{{note.created_at|amTimeAgo}}</small></h4>
                                            <p>{{note.content}}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-show="!vm.notes.length">
                                    <small> Chưa có lịch sử tiếp nhận! </small>
                                </li>
                            </ul>
                            </div>
                            </div>
                        </div>
                        <div class="tab-pane height-300 animation-slide-top" id="tabCallHistory" role="tabpanel" >
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Thời gian</th>
                                        <th>Điện thoại</th>
                                        <th>Call Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            0933 961 912    
                                        </td>
                                        <td>
                                            <span class="text-danger text-semibold"><i class="icon wb-chevron-down-mini" aria-hidden="true"></i>Gọi nhỡ</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            01255 175 226
                                        </td>
                                        <td>
                                            <span class="text-warning text-semibold"><i class="icon wb-chevron-down-mini" aria-hidden="true"></i>Gọi ra</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            0933 961 912    
                                        </td>
                                        <td>
                                            <span class="text-success text-semibold"><i class="icon wb-chevron-up-mini" aria-hidden="true"></i>Gọi vào</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            0933 961 912    
                                        </td>
                                        <td>
                                            <span class="text-success text-semibold"><i class="icon wb-chevron-up-mini" aria-hidden="true"></i>Gọi vào</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            0933 961 912    
                                        </td>
                                        <td>
                                            <span class="text-success text-semibold"><i class="icon wb-chevron-up-mini" aria-hidden="true"></i>Gọi vào</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            0933 961 912    
                                        </td>
                                        <td>
                                            <span class="text-success text-semibold"><i class="icon wb-chevron-up-mini" aria-hidden="true"></i>Gọi vào</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>2017-05-11 10:20</td>
                                        <td>
                                            0933 961 912    
                                        </td>
                                        <td>
                                            <span class="text-success text-semibold"><i class="icon wb-chevron-up-mini" aria-hidden="true"></i>Gọi vào</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <!-- End Example Iconified Tabs -->


            </div>


        </div>

    </div>
</div>
