<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">Thông tin khách hàng</h1>
        <div class="page-header-actions">
            <button type="button" ng-click="vm.reloadPage()" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
                <i class="icon wb-refresh" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
                <i class="icon wb-settings" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-9">
                <!-- Panel -->
                <div class="panel"> 
                    <div class="panel-body nav-tabs-animate nav-tabs-horizontal">
                        <div class="media margin-bottom-20 cus-info" style="overflow:inherit">
                            <div class="media-left">
                                <a class="avatar avatar-100" href="javascript:void(0)">
                                    <img class="img-responsive" src="public/uploads/customer/{{vm.customer.avatar||'blank-customer.png'}}" alt="...">
                                </a>
                            </div>
                            <div class="media-body" style="overflow:inherit">
                                <h4 class="media-heading">{{vm.customer.id ? vm.customer.lastName + ' ' + vm.customer.firstName : 'Anonymous'}}</h4>
                                <small>{{ vm.customer.note || '-' }}</small>
                                <div class="profile-brief">
                                    <tags-input class="bootstrap-tags-input" placeholder="Thêm tags" ng-model="vm.customer.tags_list" display-property="tag_name" key-property="id" add-from-autocomplete-only="true" replace-spaces-with-dashes="false" on-tag-added="vm.cusUpdateTags()" on-tag-removed="vm.cusUpdateTags()">
                                        <auto-complete source="vm.loadTags($query)" min-length="0" debounce-delay="0" load-on-focus="true" load-on-empty="true" max-results="10"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                            <li class="{{vm.customer.id ? 'active' : '' }}" role="presentation">
                                <a data-toggle="tab" href="#activities" aria-controls="activities" role="tab">Lịch sử tương tác</a>
                            </li>
                            <li class="{{!vm.customer.id ? 'active' : '' }}" role="presentation">
                                <a data-toggle="tab" href="#profile" aria-controls="profile" role="tab">Thông tin cá nhân</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane animation-slide-left {{vm.customer.id ? 'active' : '' }}"" id="activities" role="tabpanel">
                                <form class="form-horizontal" name="frmCustomerNote" autocomplete="off" ng-submit="frmCustomerNote.$valid && vm.addNote($event)" novalidate>
                                    <div class="form-group mi-form">
                                        <div class="col-sm-12">
                                            <tags-input ng-required="vm.note.content" class="bootstrap-tags-input" placeholder="Thêm tags ghi chú" ng-model="vm.note.tags" display-property="tag_name" key-property="id" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                                                <auto-complete source="vm.loadTags($query)" min-length="0" debounce-delay="0" load-on-focus="true" load-on-empty="true" max-results="10"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea ng-model="vm.note.content" required="" class="form-control" name="summary_content" rows="3" placeholder="Nhập nội dung tiếp nhận"></textarea>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" ng-click="vm.note={}" ng-disabled="!vm.note.content && !vm.note.tags"  class="btn btn-default btn-sm pull-left">Clear</button>
                                        <button type="submit" ng-disabled="frmCustomerNote.$invalid || !frmCustomerNote.$dirty"  class="btn btn-primary">Lưu</button>
                                    </div>
                                </form>
                                <ul class="list-group">

                                    <li class="list-group-item" ng-repeat="note in vm.notes">
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="avatar avatar-sm {{note.isOnline?'avatar-online':''}}" href="javascript:void(0)">
                                                    <img class="img-responsive" src="public/uploads/avatar/{{note.avatar|| 'blank-avatar.png'}}" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{note.userName}} <small class="pull-right">{{note.created_at|amTimeAgo}}</small></h4>
                                                <p>{{note.content}}</p>
                                                <p>{{note.note_tags ? 'Tags: #'+note.note_tags : ''}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" ng-show="!vm.notes.length">
                                        <small> Chưa có lịch sử tiếp nhận! </small>
                                    </li>

                                </ul>
                                <!--<a class="btn btn-block btn-default profile-readMore" href="javascript:void(0)" role="button">Show more</a>-->
                            </div>

                            <div class="tab-pane animation-slide-left padding-20 {{!vm.customer.id ? 'active' : '' }}"" id="profile" role="tabpanel">
                                <form name="frmCustomerInfo" method="post" ng-submit="frmCustomerInfo.$valid && vm.updateOrAdd($event)" novalidate>
                                    <div class="row row-lg">

                                        <div class="col-sm-6 col-md-4 mi-form">
                                            <h5>Họ</h5>
                                            <input type="text" class="form-control input-sm" data-ng-model="vm.customer.lastName" autocomplete="off" placeholder="" name="lastName" />
                                        </div>

                                        <div class="col-sm-6 col-md-4 mi-form {{frmCustomerInfo.firstName.$touched && frmCustomerInfo.firstName.$invalid ? 'has-error' : ''}}">
                                            <h5>Tên</h5>
                                            <input type="text" required="" class="form-control input-sm" data-ng-model="vm.customer.firstName" autocomplete="off" placeholder="" name="firstName" />
                                        </div>
                                        <div class="col-sm-6 col-md-4 mi-form">
                                            <h5>Giới tính</h5>
                                            <div style="height: 32px">
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="inputBasicMale" name="inputGender" />
                                                    <label for="inputBasicMale">Nam</label>
                                                </div>
                                                <div class="radio-custom radio-default radio-inline">
                                                    <input type="radio" id="inputBasicFemale" name="inputGender" />
                                                    <label for="inputBasicFemale">Nữ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mi-form">
                                            <h5>Di động {{vm.customer.mobile.length}}</h5>
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-model="vm.customer.mobile" autocomplete="off" placeholder="" name="mobile" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-disabled="!vm.customer.mobile || vm.customer.mobile.length < 3 || vm.customer.mobile.length > 12" class="btn btn-sm btn-info"><i class="icon fa-phone" aria-hidden="true"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mi-form">
                                            <h5>Điện thoại bàn</h5>

                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-model="vm.customer.phone" autocomplete="off" placeholder="" name="phone" />
                                                <span class="input-group-btn">
                                                    <button type="button" ng-disabled="!vm.customer.phone || vm.customer.phone.length < 3 || vm.customer.phone.length > 12" class="btn btn-sm btn-info"><i class="icon fa-phone" aria-hidden="true"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 mi-form">
                                            <h5>Email</h5>
                                            <input type="text" class="form-control input-sm" ng-model="vm.customer.email" autocomplete="off" placeholder="" name="email" />
                                        </div>  
                                        <div class="col-sm-6 col-md-4 mi-form">
                                            <h5>Địa chỉ</h5>
                                            <input type="text" class="form-control input-sm" ng-model="vm.customer.address" autocomplete="off" placeholder="" name="address" />
                                        </div>
                                        <div class="col-sm-6 col-md-8 mi-form">
                                            <h5>Ghi chú khách hàng</h5>
                                            <input type="text" class="form-control input-sm" ng-model="vm.customer.note" autocomplete="off" placeholder="" name="note" />
                                        </div>
                                        
                                        <div class="col-sm-6 col-md-12 mi-form">
                                            <a href="#/module/customers" class="btn btn-default btn-sm pull-left">Quay lại</a>  
                                            <button type="submit" class="btn btn-primary btn-sm pull-right" ng-disabled="frmCustomerInfo.$invalid || !frmCustomerInfo.$dirty" >{{vm.customer.id ? 'Cập nhật':'Thêm mới'}}</button>
                                        </div>
                                    </div>
                                </form>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
            <div class="col-md-3 page-profile">
                <!-- Page Widget -->
                <div class="widget widget-shadow text-center" ng-if="!vm.customer.id">
                    <div class="widget-header" style="padding-bottom: 20px">
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)" style="width: 90px">
                                <img src="public/uploads/customer/{{vm.customer.avatar||'blank-customer.png'}}" alt="...">
                            </a>
                            <h4 class="profile-user">{{vm.customer.id ? vm.customer.lastName + ' ' + vm.customer.firstName : 'Anonymous'}}</h4>
                            <p class="profile-job" style="margin-bottom:5px">Developer</p>
                            <p>info@mitek.vn</p>

                            <hr style="margin: 10px 0px;"/>
                            <div class="clearfix">
                                <p class="bold">Incoming call...</p>                                
                                <!--<p class="bold">00:10:00</p>-->                                
                                <div class="col-md-3 text-left bold">From:</div>
                                <div class="col-md-9 text-center">0909 999 999</div>
                                <div class="col-md-3 text-left bold">To</div>
                                <div class="col-md-9 text-center">01255 175 226</div>
                            </div>
                            <hr style="margin: 10px 0px;"/>
                            <div class="clearfix">
                                <div class="btn-group btn-group-justified margin-bottom-10">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;">
                                            Mute
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;border-left:0px">
                                            Hold
                                        </button>
                                    </div>
                                </div>

                                <div class="btn-group btn-group-justified margin-bottom-10">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;border-right:0px">
                                            <!--<i class="icon wb-star" aria-hidden="true"></i>-->
                                            <!--<span class="text-uppercase hidden-xs">Transfer</span>-->
                                            Transfer
                                        </button>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;">
                                            Add Guest
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;border-left:0px">
                                            Keypad
                                        </button>
                                    </div>
                                </div>
                                
                                <button class="btn btn-danger col-md-12 margin-bottom-10">End call</button>
                            </div>
                            

                            <!--                            <div class="row" style="margin: 0px">
                                                            <a href="javascript:void(0)" class="btn pull-left btn-primary col-sm-5">Accept</a>
                                                            <a href="javascript:void(0)" class="btn pull-right btn-danger col-sm-5">Reject</a>
                                                        </div>-->
                        </div>
                    </div>
                </div>
                <div class="widget widget-shadow text-center" ng-if="vm.customer.id">
                    <div class="widget-header clearfix" style="padding:15px">
                        <h3 style="margin: 0px;margin-bottom: 15px;">Keypad</h3>
                        <div class="input-group margin-bottom-20">
                            <input type="text" class="form-control input-sm input-num" ng-model="vm.keypad.number" placeholder="" name="mobile" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="!vm.keypad.number || vm.keypad.number.length < 3 || vm.keypad.number.length > 12" class="btn btn-sm btn-info" ng-click="vm.keypad.number=''"><i class="icon fa-times" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <div class="keyboard">
                            <div class="col-xs-4">
                                <div class="num-left num" data="1" ng-click="vm.keypad.number=vm.keypad.number+'1'">1</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-mid num" data="2" ng-click="vm.keypad.number=vm.keypad.number+'2'">2<small>ABC</small></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-right num" data="3" ng-click="vm.keypad.number=vm.keypad.number+'3'">3<small>DEF</small></div>
                            </div>

                            <div class="col-xs-4">
                                <div class="num-left num" data="4" ng-click="vm.keypad.number=vm.keypad.number+'4'">4<small>GHI</small></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-mid num" data="5" ng-click="vm.keypad.number=vm.keypad.number+'5'">5<small>JKL</small></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-right num" data="6" ng-click="vm.keypad.number=vm.keypad.number+'6'">6<small>MNO</small></div>
                            </div>

                            <div class="col-xs-4">
                                <div class="num-left num" data="7" ng-click="vm.keypad.number=vm.keypad.number+'7'">7<small>PQRS</small></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-mid num" data="8" ng-click="vm.keypad.number=vm.keypad.number+'8'">8<small>TUV</small></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-right num" data="9" ng-click="vm.keypad.number=vm.keypad.number+'9'">9<small>WXYZ</small></div>
                            </div>

                            <div class="col-xs-4">
                                <div class="num-left num" data="*" ng-click="vm.keypad.number=vm.keypad.number+'*'">*</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-mid num" data="0" ng-click="vm.keypad.number=vm.keypad.number+'0'">0<small>+</small></div>
                            </div>
                            <div class="col-xs-4">
                                <div class="num-right num" data="#" ng-click="vm.keypad.number=vm.keypad.number+'#'">#</div>
                            </div>
                            
                            <button class="btn btn-success col-md-12 margin-bottom-10"><i class="fa fa-phone fa-2x"></i></button>
<!--                            <div class="clearfix">
                                <div class="btn-group btn-group-justified margin-bottom-10">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;">
                                            Mute
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;border-left:0px">
                                            Hold
                                        </button>
                                    </div>
                                </div>

                                <div class="btn-group btn-group-justified margin-bottom-10">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;border-right:0px">
                                            <i class="icon wb-star" aria-hidden="true"></i>
                                            <span class="text-uppercase hidden-xs">Transfer</span>
                                            Transfer
                                        </button>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;">
                                            Add Guest
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default btn-sm" style="border: 1px solid #d2d2d2;border-left:0px">
                                            Keypad
                                        </button>
                                    </div>
                                </div>
                                
                                <button class="btn btn-danger col-md-12 margin-bottom-10">End call</button>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- End Page Widget -->
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
<style>
    .cus-info .tags, .cus-info .tags.focused{
        border: none;
        box-shadow: none;
    }
    .cus-info .bootstrap-tags-input .autocomplete {
        border-top: 0px;
        border-radius: 0px;
    }
</style>
