<div class="page-login-v3 layout-full">
    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out" style="opacity: 1">
        <div class="page-content vertical-align-middle">
            <div class="panel">
                <div class="panel-body">
                    <div class="brand">
                        <img class="brand-img" src="public/v1/images/logo-blue.png" alt="...">
                        <h2 class="brand-text font-size-18">MiPBX POPUP</h2>
                    </div>
                    <form method="post" action="#" name="loginForm" ng-submit="loginForm.$valid && vm.login($event)" novalidate>
                        <div class="summary-errors alert alert-danger alert-dismissible" ng-show="vm.errorMessage" style="padding: 8px;text-align: left;font-size: 12px;">
                            <p>{{vm.errorMessage}}</p>
                        </div>
                        <div class="form-group form-material floating">
                            <input type="email" class="form-control" name="email" required="" ng-model="vm.email" autocomplete="off" />
                            <label class="floating-label">Email</label>
                        </div>
                        <div class="form-group form-material floating">
                            <input type="password" class="form-control" name="password" required="" ng-model="vm.password" autocomplete="off" />
                            <label class="floating-label">Password</label>

                        </div>
                        <div class="form-group clearfix">
                            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                                <input type="checkbox" id="inputCheckboxRemember" name="remember_token" ng-model="vm.remember_token">
                                <label for="inputCheckboxRemember">Remember me</label>
                            </div>
                            <a class="pull-right" href="#forgot-password.html">Bạn đã quên mật khẩu?</a>
                        </div>

                        <button ng-disabled="vm.isDisabledSubmit" type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block btn-lg margin-top-40"><i class="icon fa-refresh fa-spin" style="display: none"></i>Đăng nhập</button>
                    </form>
                    <p>Bạn chưa có tài khoản, đăng ký <a href="#register-v3.html">ở đây</a>!</p>
                </div>
            </div>

            <footer class="page-copyright page-copyright-inverse">
                <p>© 2017. MITEK - vCloudCOM ™</p>
            </footer>
        </div>
    </div>
</div>

